.card__container {
    width: 100%;
    padding: 0 10px;
}

@media screen and (min-width: 1200px) {
    .card__container {
        width: 50%;
    }

    .timeline-3 {
        position: relative;
        top: -315px;
    }

    .timeline-4 {
        position: relative;
        top: -5px;
    }

    .timeline-5 {
        position: relative;
        top: -320px;
    }

    .timeline-6 {
        position: relative;
        top: -210px;
    }
}